<% @title = 'About' %>
<div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
		<h1 class="text-center">About Michael Coniaris</h1>
		<p><%= link_to(image_tag("contact_logo", class: "img-fluid", alt: "Link to Contact Page"), about_path, class: "logo_image") %></p>
  </div>
  <div class="col-lg-3"></div>
</div>


