<% @title = 'About' %>
<div class="row">
  <div class="col-lg-6">
		<h1 class="text-center">About Michael Coniaris</h1>
		<p>Michael Coniaris is a web developer, software engineer and photographer.</p>
		<p>He's also a soccer watching fanatic (NYCFC season ticket holder), political junkie, book reader and when he can, a napper.</p>
		<p>He is familiar with Ruby, Ruby on Rails, HTML, CSS, JavaScript, Angular, Bootstrap and working with APIs.</p>
  </div>
  <div class="col-lg-6">
		<p><%= link_to(image_tag("contact_logo", class: "img-fluid", alt: "Link to Contact Page"), about_path, class: "logo_image") %></p>
  </div>
</div>


