<% @title = 'About' %>
<h1>Welcome#about</h1>
\<div class="col-sm-12 col-lg-4">	
	<p><%= link_to(image_tag("contact_logo", class: "img-fluid", alt: "Link to Contact Page"), about_path, class: "logo_image") %></p>
</div>