<% @title = 'Code' %>
<p>Code page</p>
<div class="col-sm-12 col-lg-4">
	<h1>Code</h1>
	<p><%=link_to( image_tag("code_logo", class: "img-fluid", alt: "Link to Code Examples"), code_path, class: "logo_image" ) %></p>
 </div>