<% @title = 'Contact' %>

<div class="row">
  <div class="col-lg-6">
		<h1 class="text-center">Contact</h1>
		<div class="text-center">
			<p>Reach me at...</p>
			<p><a href="https://github.com/mconiaris">GitHub</a></p>
			<p><a href="https://www.linkedin.com/in/michaelconiaris">LinkedIn</a></p>
			<p><a href="https://profiles.generalassemb.ly/profiles/michaelconiaris">General Assembly</a></p>
		</div>
  </div>
  <div class="col-lg-6">
		<p><%= link_to(image_tag("contact_logo", class: "img-fluid", alt: "Link to Contact Page"), photos_path, class: "logo_image") %></p>
  </div>
</div>