<% @title = 'Contact' %>

<div class="row">
  <div class="col-lg-6">
		<h1 class="text-center">Contact</h1>
  </div>
  <div class="col-lg-6">
		<p><%= link_to(image_tag("contact_logo", class: "img-fluid", alt: "Link to Contact Page"), photos_path, class: "logo_image") %></p>
  </div>
</div>