<% @title = 'Home' %>
<div class="row text-center">
  <div class="col-sm-6 col-lg-3">
    <h1>Code</h1>
    <p><%= link_to(image_tag(get_code_photo[:link], class: "img-fluid", alt: get_code_photo[:alt]), code_path, class: "logo_image") %></p>
  </div>
  <div class="col-sm-6 col-lg-3">
    <h1>Photography</h1>
    <p><%= link_to(image_tag(get_photos_photo[:link], class: "img-fluid", alt: get_photos_photo[:alt]), photos_path, class: "logo_image") %></p>
  </div>
  <div class="col-sm-6 col-lg-3">
    <h1>About</h1>
    <p><%= link_to(image_tag(get_about_photo[:link], class: "img-fluid", alt: get_about_photo[:alt]), about_path, class: "logo_image") %></p>
  </div>
  <div class="col-sm-6 col-lg-3">
    <h1>Contact</h1>
    <p><%= link_to(image_tag(get_contact_photo[:link], class: "img-fluid", alt: get_contact_photo[:alt]), contact_path, class: "logo_image") %></p>
  </div>
</div>