<% @title = 'Home' %>
<div class="row">
    <div class="col-sm">
			<h1>Welcome#index</h1>
      One of three columns
    </div>
    <div class="col-sm">
			<p>Find me in app/views/welcome/index.html.erb</p>
      One of three columns
    </div>
    <div class="col-sm">
			<h1>Hello World</h1>
      One of three columns
    </div>
  </div>