<% @title = 'Home' %>
<div class="row">
    <div class="col-4">
			<h1>Code</h1>
			<p><%=link_to( image_tag("logo"), code_path, class: "logo_image" ) %></p>
    </div>
    <div class="col-4">
			<h1>Photography</h1>
    </div>
    <div class="col-4">
			<h1>Contact</h1>
    </div>
  </div>