<% @title = 'Home' %>
<div class="row">
    <div class="col-sm-12 col-lg-4">
			<h1>Code</h1>
			<p><%=link_to( image_tag("code_logo", class: "img-fluid", alt: "Link to Code Examples"), code_path, class: "logo_image" ) %></p>
    </div>
    <div class="col-sm-12 col-lg-4">
			<h1>Photography</h1>
    </div>
    <div class="col-sm-12 col-lg-4">
			<h1>Contact</h1>
    </div>
  </div>