<% @title = 'Home' %>
<div class="row">
    <div class="col-sm">
			<h1>Code</h1>
			<p><%=link_to( image_tag("logo"), class: "logo_image" ) %></p>
    </div>
    <div class="col-sm">
			<h1>Photography</h1>
    </div>
    <div class="col-sm">
			<h1>Contact</h1>
    </div>
  </div>