<p>Photography Page</p>
<img src="https://s3.us-east-2.amazonaws.com/media.michaelconiaris.com/images/code_logo.jpg">

<div class="col-sm-12 col-lg-4">
	<h1>Code</h1>
	<p><%=link_to( image_tag("code_logo", class: "img-fluid", alt: "Link to Code Examples"), code_path, class: "logo_image" ) %></p>
 </div>