<p>Photography Page</p>
<img src="https://s3.us-east-2.amazonaws.com/media.michaelconiaris.com/code_logo.jpg">
<div class="col-sm-12 col-lg-4">
			<h1>Photography</h1>
			<p><%= link_to(image_tag("photos_logo", class: "img-fluid", alt: "Link to Photography Examples"), photos_path, class: "logo_image") %></p>
    </div>